body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    overflow-x: hidden; /* Väldib horisontaalset kerimist */
}

header {
    position: relative;
    z-index: 10;
}

/* Nav stiilid */
nav {
    position: fixed; /* Hoia nav alati nähtav */
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.6); /* Läbipaistvus paremaks kontrastiks */
    margin: 0 auto;
    padding: 25px 20px;
    z-index: 100;
    box-sizing: border-box;
}

nav h1 {
    color: #e3e3e3;
    font-size: 20px;
    margin: 0;
    font-weight: normal
}

nav ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
    gap: 15px; /* Ühtlane vahe elementide vahel */
    transition: all 0.3s ease-in-out;
}

nav ul li a {
    color: #ffffff;
    cursor: pointer;
    padding: 8px 15px;
    font-size: 16px;
    text-decoration: none;
    border-radius: 5px;
}

nav ul li a:hover {
    background-color: #ffffff;
    color: #000000;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.menu-icon {
    display: none;
    font-size: 24px;
    color: #ffffff;
    cursor: pointer;
    z-index: 105;
}

/* Taustapilt */
.taustapilt {
    height: 40vh; /* Täidab 60% akna kõrgusest */
    width: 100%;
    background-image: url("http://media.voog.com/0000/0039/0731/photos/kabinet4%402x.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    z-index: 1;
}
/* Mobiilisõbralik menüü */
@media (max-width: 1000px) {
    nav ul {
        display: none;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        background-color: rgba(0, 0, 0, 0.9);
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%; 
        z-index: 100;
        gap: 10px;
    }

    nav ul.active {
        display: flex;
    }

    .menu-icon {
        display: block;
    }

    nav ul li a {
        font-size: 18px;
        padding: 0 auto;
    }
}

/* Väiksemad ekraanid */
@media (max-width: 768px) {
    nav h1 {
        font-size: 18px;
    }

    nav ul li a {
        font-size: 16px;
        padding: 10px auto;
    }

    .taustapilt {
        height: 50vh; /* Kohanda kõrgust väiksematel ekraanidel */
    }
}


.valge-taust {
    flex: 3;
    background: white;
    padding: 20px;
    margin-left: 20px;
    max-width: 90%;
}
@media (max-width: 768px) {
    .valge-taust {
        max-width: 100%;
        margin-left: 0px;
        padding: 0;
    }
}
main p {
    text-align: left;
    color: #455d7a;
    font-size: 20px;
    line-height: 1.6;
    margin: 0 30px 20px;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

main h2 {
    color: #233142;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    margin: 50px 0;
}

.content-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
}

.sidebar {
    flex: 1;
    padding: 20px;
    height: fit-content;
}

.sidebar h3 {
    margin-bottom: 10px;
    font-size: 20px;
}

.sidebar h3 a {
    color: #233142;
    text-decoration: none;
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar ul li {
    margin-bottom: 10px;
    font-size: 20px;
}

.sidebar ul li a {
    text-decoration: none;
    color: #455d7a;
}

.sidebar ul li a:hover {
    color: #233142;
    font-weight: bold;
    

}

.sidebar ul li a.highlight {
    color: #233142;
    font-weight: bold;
}

.sidebar ul li a.highlight:hover {
    color: #233142;
    text-decoration: none;
}

/* Lisa media query väiksemate ekraanide jaoks */
@media (max-width: 768px) {
    .content-container {
        margin: 0 0;
        flex-direction: column;
        width: fit-content;
    }

    .sidebar {
        margin-bottom: 20px; /* Lisan ruumi külgriba ja sisu vahele */
    }
}


.taust-pildiga {
    position: relative; /* Või 'absolute', kui soovid fikseeritud paigutust */
    width: 100vw; /* Täidab kogu akna laiuse */
    height: 50vh; /* Võid kohandada vastavalt vajadusele */
    background-image: url('https://www.ehitustrust.ee/storage/2022/10/Ehitustrust_Puusepa-3_Tervisekeskus_13072015_Uku-Peterson_59.jpg');
    background-size: cover; /* Pilt katab täielikult ala, säilitades proportsioonid */
    background-position: center; /* Keskenda pilt */
    background-repeat: no-repeat; /* Väldi pildi kordumist */
    z-index: 1; /* Kui vaja kihte hallata */
}

.tekst-pildi-peal {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    border: 2px solid #fff;
    padding: 15px 25px;
    text-align: left;
    width: auto;
    max-width: 90%; /* Piirab kastide laiuse */
    transition: all 0.3s ease;
}
.taust-pildiga, main {
    width: 100%; /* Eemalda laiuse piirang */
    max-width: none; /* Tühista võimalik maksimaalne laius */
    margin: 0; /* Eemalda tühikud */
    padding: 0;
}

/* KONTAKT pealkirja eraldi positsioneerimine */
.tekst-pildi-peal:first-of-type {
    top: 10%;
    z-index: 2; /* Tagab, et see on nähtav teise kasti peal */
}

/* Aadressi positsioneerimine */
.tekst-pildi-peal:last-of-type {
    top: 55%;
    z-index: 1; /* Tagab, et see jääb esimese kasti alla */
}
.tekst-pildi-peal h2 {
    margin: 5px 0;
}


.tekst-pildi-peal h2 a {
    color: white;
    font-family: var(--button-font-style);
    margin: 0;
    font-size: 20px;
    font-weight: normal;
    text-decoration: none;
  }

  .tekst-pildi-peal:hover {
    background-color: white;
    color: black;
  }
  .tekst-pildi-peal:hover h2 a {
    color: black; 
  }

.tekst-pildi-peal p {
    margin: 5px 0;
    font-size: 18px;
    color: white;
}
.tekst-pildi-peal:hover p {
    color: black; 
  }

.profile {
    display: flex;
    flex-direction: row; /* Hoidke elemendid kõrvuti */
    flex-wrap: nowrap; /* Väldib elementide murdumist uude ritta */
    align-items: flex-start; /* Joondab elemendid ülemise serva järgi */
    gap: 20px; /* Vahe pildi ja teksti vahel */
    margin-top: 20px;
}

.profile-image {
    flex: 1 1 auto; /* Kohandab pildi suurust */
    max-width: 300px; /* Maksimaalne pildi laius */
    object-fit: cover; /* Tagab, et pilt täidab alati konteineri */
}

.profile-text {
    flex: 2 1 auto; /* Kohandab tekstiosa suurust */
    font-size: 18px;
    line-height: 1.6;
    color: #455d7a;
    text-align: justify;
    max-width: 335px;
}


.profile-text h2 {
    margin-bottom: 10px;
    font-size: 24px;
    color: #233142;
}

.profile-text p {
    margin-bottom: 10px;
}
.profile-text p a {
    text-decoration: none;
    color: #233142;

}
.profile-text p a:hover{
    text-decoration: underline;
}

/* Responsiivsus väiksematele ekraanidele */
@media (max-width: 1030px) {
    .profile {
        gap: 10px; /* Väiksem vahe pildi ja teksti vahel väiksematel ekraanidel */
        flex-wrap: wrap;
        justify-content: center;

    }

    .profile-text {
        font-size: 16px; /* Teksti suuruse kohandus väiksematele ekraanidele */
    }
}

.info-box {
    background-color:white;
    padding: 20px;
    margin: 20px 0; /* Vahe kastide vahel */
}

.info-box h2 {
    color: #233142;
    font-size: 20px;
    margin-bottom: 10px;
    text-align: left;
}

.info-box p {
    margin: 5px 0;
    font-size: 20px;
    color: #455d7a;
    line-height: 1.6; /* Mugav reavahe */
}

.info-box p a {
    text-decoration: none;
    color: #233142;
}

.info-box p a:hover {
    text-decoration: underline; /* Hover-efekt lingile */
}