body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box; 
    font-family: monospace;
}


header {
    position: relative;
    z-index: 10;
}

/* Nav stiilid */
nav {
    position: absolute; 
    top: 0;
    left: 0;
    width: 100%; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.3); 
    padding: 20px 40px;
    z-index: 10; 
    box-sizing: border-box;
}

nav h1 {
    font-family: monospace;
    color: #e3e3e3;
    font-size: 24px;
    margin: 5px;
    font-weight: normal;
}

nav ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
    gap: 20px;
    transition: all 0.3s ease-in-out;
    font-weight: normal;
}



nav ul li a{
    color: #e3e3e3;
    cursor: pointer;
    padding: 15px 0;
    font-size: 18px;
    font-family: monospace;
    text-decoration: none;


}
nav ul li a:hover {
    color: #e3e3e3;
    text-shadow: 0 0 10px #e3e3e3;
    text-decoration: none;
}

.menu-icon {
    display: none; 
    font-size: 24px;
    color: #e3e3e3;
    cursor: pointer;
    z-index: 15; 
}



.taustapilt {
    height: 60vh; /* Täidab 60% akna kõrgusest */
    width: 100%; /* Täidab kogu laiuse */
    background-image: url("https://media.voog.com/0000/0039/0731/photos/Header_large.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative; /* Tagab õige paigutuse */
    z-index: 1;
}

@media (max-width: 1070px) {
    nav ul {
        display: none;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: rgba(0, 0, 0, 0.3);
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        padding: 20px 0;
        z-index: 10;
    }

    nav ul.active {
        display: flex;
    }

    nav ul li {
        text-align: center;
        padding: 20px 0;
        text-decoration: none;
    }
    nav ul li:hover {
        color: #fff;
        text-shadow: 0 0 10px #fff;
        text-decoration: none;
    }
    .taustapilt {
        height: 40vh;
    }

    .tekst-pildi-peal {
        width: 30%;
        padding: 10px 15px;
    }

    .tekst-pildi-peal p {
        font-size: 12px;
    }

    .tekst-pildi-peal h2 a {
        font-size: 25px;
    }


    .menu-icon {
        display: block;
    }
}

@media (max-width: 768px) {
    
    nav ul {
        display: none;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: rgba(0, 0, 0, 0.8);
        position: absolute;
        top: 60px;
        right: 0;
        width: 70%;
        padding: 40px;
        border-radius: 8px 0 0 8px;
        z-index: 10;
        box-shadow: -4px 0 6px rgba(0, 0, 0, 0.3);
    }

    nav ul.active {
        display: flex;
    }
    nav h1 {
        font-size: 16px;
    }

    nav ul li {
        text-align: center;
        width: 100%;
        padding: 4px 0;
        line-height: 1;
    }

    nav ul li a {
        display: inline;
        text-align: center;
        color: #e3e3e3;
        text-decoration: none;
        font-size: 18px;
        padding: 0px 0;
        padding: 0;
    }
    .taustapilt {
        height: 50vh;
    }

    .tekst-pildi-peal {
        width: 30%;
        padding: 10px 15px;
    }

    .tekst-pildi-peal p {
        font-size: 12px;
    }

    .tekst-pildi-peal h2 a {
        font-size: 25px;
    }

    nav ul li a:hover {
        background-color: transparent;
        color: #fff;
        text-decoration: none;
    }

    .menu-icon {
        display: block;
        font-size: 28px;
        color: #fff;
    }
}

@media (max-width: 1070px) {
    nav ul {
        display: none;
        flex-direction: column;
        background-color: rgba(0, 0, 0, 0.3);
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        padding: 20px 0;
    }

    nav ul.active {
        display: flex;
    }

    .menu-icon {
        display: block;
    }
}



.valge-taust {
    flex: 3;
    background: white;
    padding: 20px;
    margin-left: 20px;
    border-radius: 8px;
    max-width: 90%;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}



main p {
    text-align: left; /* Joonda tekst õigesti */
    color: #455d7a;
    font-size: 20px; /* Mugav teksti suurus */
    line-height: 1.8; /* Mugav reavahe */
    margin-bottom: 20px; /* Lisaruumi lõikude vahel */
    font-family: monospace;
    margin: 0 30px;
    margin-bottom: 20px; /* Lisaruumi lõikude vahel */
    word-wrap: break-word; /* Väldib teksti väljajooksmist */
    overflow-wrap: break-word; /* Toetab tekstivoolu katkemist */
}
a {
    color: #233142;
    text-decoration: none;
}

a:hover {
    color: #233142;
    text-decoration: underline;
}

main h2 {
    color: #233142;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    margin: 50px 0;
}
.content-container {
    display: flex;
    flex-direction: row; /* Suurematel ekraanidel kõrvuti */
    align-items: flex-start;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}
.content-container.full-width {
    max-width: 100%;
    padding: 20px;
    margin: 0 auto;
    display: flex;
    flex-direction: column; /* Sektsioonid üksteise all */
    gap: 20px; /* Sektsioonide vahe */
    align-items: center; /* Keskendab sektsioonid horisontaalselt */
}


.sidebar {
    flex: 1;
    background-color: #f4f4f4;
    padding: 20px;
    border-radius: 8px;
    height: fit-content;
}

.sidebar ul {
    list-style: none;
    padding: 0;
}
.sidebar ul li {
    margin-bottom: 10px;
        
}

.sidebar ul li a {
    color:#455d7a;
    font-size: 20px;
    text-decoration: none;
    
}
.sidebar ul li a:hover {
    color: #233142;
}
.sidebar ul li a.highlight {
    color: #233142;; 
    font-weight: bold; 
}
.sidebar ul li a.highlight:hover {
    color: #233142;; 
    text-decoration: none;
}
@media (max-width: 768px) {
    .content-container {
        flex-direction: column; /* Külgriba ja sisu vertikaalsesse paigutusse */
        justify-content: flex-start;
        align-items: stretch; /* Venitab sektsioonid ekraani laiuseks */
        padding: 10px; /* Kitsendab paddingut väiksematel ekraanidel */
        gap: 20px; /* Lisa ruum sektsioonide vahele */
    }

    .sidebar {
        margin-bottom: 20px; /* Lisan ruumi külgriba ja sisu vahele */
        flex: none; /* Keelab venimise väiksematel ekraanidel */
    }

    .sidebar ul li a {
        font-size: 18px; /* Kohanda linkide suurust väiksematele ekraanidele */
    }
}

.tekst-pildi-peal {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    border: 2px solid #fff;
    padding: 15px 25px;
    text-align: left;
    width: auto;
    max-width: 100%;
    transition: all 0.3s ease;
}


.taust-pildiga {
    position: relative; /* Või 'absolute', kui soovid fikseeritud paigutust */
    width: 100vw; /* Täidab kogu akna laiuse */
    height: 40vh; /* Võid kohandada vastavalt vajadusele */
    background-image: url('https://www.ehitustrust.ee/storage/2022/10/Ehitustrust_Puusepa-3_Tervisekeskus_13072015_Uku-Peterson_59.jpg');
    background-size: cover; /* Pilt katab täielikult ala, säilitades proportsioonid */
    background-position: center; /* Keskenda pilt */
    background-repeat: no-repeat; /* Väldi pildi kordumist */
    z-index: 1; /* Kui vaja kihte hallata */
}
@media (max-width: 768px) {
    .taust-pildiga {
        height: 60vh;
    }
}


.tekst-pildi-peal p {
    margin: 5px 0;
    font-size: 18px;
    color: white;
}
.tekst-pildi-peal:first-of-type {
    top: 50%;
    z-index: 2; 
}
.tekst-pildi-peal:hover {
    background-color: white;
    color: black;
  }
  .tekst-pildi-peal:hover p {
    color: black; 
  }




body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.info-kast {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 10px;
    font-size: 14px;
    margin: 20px auto;
    max-width: 800px;
    width: calc(100% - 20px);
}

.info-kast h1 {
    font-size: 24px;
    color: #233142;
    text-align: center;
    margin-bottom: 10px;
}

.info-kast p {
    font-size: 18px;
    color: #455d7a;
    text-align: center;
    margin-bottom: 20px;
}

.info-kast table {
    width: 100%;
    font-size: 12px;
    overflow-x: auto;
    display: block;
    align-items: center;
}

.info-kast th,
.info-kast td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
    font-size: 18px;
    color: #455d7a;
}

.info-kast th {
    background-color: white;
    color: #455d7a;
    font-weight: bold;
}

.info-kast td {
    background-color: #fff;
}

.info-kast tr:nth-child(even) td {
    background-color: #f2f2f2;
}
.info-kast,
.valge-taust {
    width: 100%; /* Kasti maksimaalne laius */
    max-width: 800px; /* Maksimaalne laius suurematel ekraanidel */
    text-align: center; /* Teksti keskjoonduseks */
    margin: 0 auto; /* Kasti tsentreerimiseks */
    padding: 20px;
    background-color: #fff; /* Valge taust */
}

.maps-container {
    margin: 20px auto;
    width: 100%; /* Kaardi maksimaalne laius */
    max-width: 800px; /* Keskendatud ja piiratud suurusega */
    text-align: center; /* Kaardi tsentreerimine */
}

iframe {
    margin-top: 50px;
    width: 100%; /* Kaardi laius kohandub konteinerile */
    border: 0; /* Eemaldab iframe'i piiri */
}

.valge-taust p.center {
    text-align: center;
}

@media (max-width: 600px) {
    .info-kast h1 {
        font-size: 20px;
    }

    .info-kast p {
        font-size: 14px;
    }

    .info-kast th, .info-kast td {
        font-size: 14px;
        padding: 8px;
    }

    iframe {
        height: 200px; /* Väiksem iframe kõrgus */
    }

    .info-kast {
        padding: 10px;
    }
}